[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"


[tool.poetry]
name = "flake8-broken-line"
version = "0.2.1"
description = "Flake8 plugin to forbid backslashes for line breaks"

license = "MIT"

authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/sobolevn/flake8-broken-line"
homepage = "https://github.com/sobolevn/flake8-broken-line"

keywords = [
  "flake8",
  "flake8-plugin",
  "linting",
  "linter",
  "wemake.services",
  "code quality"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Flake8",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.plugins."flake8.extension"]
N4 = "flake8_broken_line:check_line_breaks"

[tool.poetry.dependencies]
python = "^3.6"
flake8 = "^3.5"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.10"
pytest-flake8 = "^1.0"
pytest-randomly = "^3.4"
pytest-isort = "^1.1"
pytest = "^5.4"

flake8-pytest = "^1.3"
flake8-print = "^3.1"
flake8-builtins = "^1.5"
flake8-commas = "^2.0"
flake8-quotes = "^3.2"
flake8-comprehensions = "^3.2"
flake8-docstrings = "^1.5"
flake8-string-format = "^0.3"
flake8-coding = "^1.3"
flake8-bugbear = "^20.1"
flake8-pep3101 = "^1.3"
flake8-debugger = "^3.2"
pep8-naming = "^0.11"
mypy = "^0.782"
safety = "^1.9.0"
